.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.input {
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  padding: 1em;
  margin-right: 0.5em;
}

.loading {
  display: none;
  margin-top: 10px;
}

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

