@font-face {
    font-family: "Outfit";
    src: url("/src/assets/fonts/Outfit/Outfit-Regular.ttf");
}
@font-face {
    font-family: "OutfitBold";
    src: url("/src/assets/fonts/Outfit/Outfit-Bold.ttf");
}
/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
}
/* CSS Variables */
:root {
    --primary-color: #343E95;
    --secondary-color: #FFA63E;
    --background-color: #E5E5E5;
    --white: #fff;
    --contrast: #7D8AFF;
}
body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}
/* RESET CSS */
img {
    display: block;
    width: 100%;
}
h1 {
    color: var(--primary-color);
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'OutfitBold', sans-serif;
}
.container-app {
    background-color: var(--background-color);
    background-image: url("../img/mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 1em;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.login {
    width: 15%;
    display: flex;
}
.login img {
    height: 15px;
    width: 25px;
}
.login a {
    margin-left: .3em;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
}
.logo img {
    height: 50px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.content {
    padding: 3em 0;
}
.btn {
    border: none;
    outline: none;
    padding: .6em 1.2em;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 3em;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}
.btn:hover, .btn:focus {
    background-color: var(--contrast);
}
.button[disabled] {
    color: red;
}

/* media queries */
@media (min-width: 500px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
        max-width: 650px;
        margin: 3.125 0;
    }
    .btn {
        font-size: 1.25rem;
    }
}
@media (min-width: 600px) {
    .container-app {
        background-image: url("../img/sfondo.svg");
        background-repeat: no-repeat;
        background-position: 150px;
    }
    .login a {
        margin-left: 0;
    }
} 