<%- include('partials/header') %>

<title><%= title %></title>
<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Test app CSV file uploader</h1>
    <p class="lead">Here you can upload your big CSV file!</p>
    <hr>
    <% if (!isAuthenticated) { %>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login or Sign Up</a>
    <% } else { %>
    <a class="btn btn-dark btn-lg" href="/logout" role="button">Logout</a>
    <a class="btn btn-dark btn-lg" href="/secrets" role="button">Go to user details</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Go to upload page</a>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
